/* Estilos específicos para a página de Produto */

/* Estilo para estoque baixo */
.estoque-baixo {
    color: #dc3545;
    font-weight: 600;
}

/* Estilo específico para o campo de valor */
.valor-venda {
    font-weight: 600;
}

/* Ajustes para observação */
#observacao {
    min-height: 80px;
}